
<h2>Registration</h2>

<p>
  <label>Email: <input type="text" [formControl]="form1_email"></label>
</p>
<p>
  <label>Password: <input type="password" [formControl]="form1_password"></label>
</p>
<p>
  <label>Name: <input type="text" [formControl]="form1_name"></label>
</p>
<p>
  <label>Phone Number: <input type="text" [formControl]="form1_phonenumber"></label>
</p>
<p>
  <label>Department: <input type="text" [formControl]="form1_department"></label>
</p>
<label>token: </label>
<p>  {{token}} </p>  

<p>
  <button (click)="onClickRegister()">Register</button>
</p>
<p>
  {{message}}
</p>

<a routerLink="/">Home</a>