<h2>Login</h2>
<p>
  <label>Email: <input type="text" [formControl]="form2_email"></label>
</p>
<p>
  <label>Password: <input type="password" [formControl]="form2_password"></label>
</p>

<p>
  <button (click)="onClickLogin()">Login</button>
</p>
<p>
  {{message2}}
</p>
<a routerLink="/forgot-password">Forgot Password</a>


<h2>Retrieve Data</h2>
<p>
  <button (click)="displayCredentials()">Credentials</button>
</p>
<p>
  {{message3}}
</p>
<p>
  <button (click)="displayUserAttributes()">Display User Data</button>
</p>
<p>
  {{message4}}
</p>

<h2>Update User Data</h2>
<p>
  <label>New Name: <input type="text" [formControl]="form3_name"></label>
</p>
<p>
  <label>New Department: <input type="text" [formControl]="form3_department"></label>
</p>
<p>
  <label>New Phone number: <input type="text" [formControl]="form3_phonenumber"></label>
</p>
<p>
  <button (click)="updateUserAttributes()">Update User Data</button>
</p>
<p>
  {{message5}}
</p>