<h2>Forgot password</h2>
<p>
    <label>Email: <input type="text" [formControl]="form_email"></label>
</p>
<p>
  <button (click)="forgotPassword()">Forgot Password</button>
</p>
<p>
  {{message}}
</p>


<h2>Update password</h2>
<p>
    <label>Email: <input type="text" [formControl]="form2_email"></label>
</p>
<p>
    <label>Code: <input type="text" [formControl]="form2_code"></label>
</p>
<p>
    <label>New Password: <input type="password" [formControl]="form2_password"></label>
</p>
<p>
  <button (click)="updatePassword()">Update Password</button>
</p>
<p>
  {{message2}}
</p>

<a routerLink="/">Home</a>